* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
}

#title {
    text-align: center;
    position: fixed;
    width: 50%;
    height: 80px;
    border-radius: 100px;
    top: 70px;
    left: 25%;
}

#title h1 {
    font-size: 55px;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 20px;
    margin-right: 20px;
}

#sidebar {
    transition: 0.4s cubic-bezier(0.58, 0.81, 0.3, 0.89);
    line-height: 1.8em;
    position: fixed;
    height: auto;
    display: inline-block;
    vertical-align: top;
    right: 5px;
    top: 8%;
}

#sidebar, #head, .layui-nav-tree, #sidebar div {
    border-radius: 17px;
    width: 350px;
}

#gift {
    padding-bottom: 12px;
}

#home {
    height: 45px;
    right: 5px;
    margin-top: 5px;
}

#home h1 {
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    height: 40px;
    padding-top: 8px;
    padding-left: 25px;
}

#time {
    height: 45px;
    right: 5px;
    margin-top: 5px;
}

#time h1 {
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    height: 40px;
    padding-top: 8px;
    padding-left: 25px;
}

.site-tree, .site-content {
    display: inline-block;
    vertical-align: top;
}

#head {
    height: auto;
}

.layui-inline img {
    border: 3px solid #fffafa;
    float: left;
    margin: 20px 0 0 20px;
}


#head h1 {
    margin: 60px 0 0 10px;
    display: inline-block;
}

#head h1 {
    font-size: 40px;
}

#head h4 li {
    font-size: 35px;
}

#nav {
    background: none !important;
}

.layui-nav-item a i {
    display: block;
    float: left;
    width: 20px;
    margin-right: 10px;
    background-size: auto 40px !important;
}

.fans {
    animation: fans 1000ms steps(10) infinite;
}

.layui-nav-item a i,
.layui-nav-item a {
    font-size: 30px;
    padding-left: 20px;
    height: 40px !important;
    line-height: 40px !important;
}

#guests {
    margin-top: 5px;
    text-align: center;
    height: 300px;
}

#guests h1 {
    font-size: 38px;
    display: block;
    padding-top: 10px;
    font-weight: bold;
}


#guests ul {
    background: none !important;
    text-align: left;
    width: 95%;
    height: 80%;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden scroll;
}

#guests ul::-webkit-scrollbar {
    display: none;
    animation: srollingY 1000ms steps(10) infinite;
}

#guests ul li {
    margin: 0 10px;
    font-size: 28px;
    line-height: 32px;
}

@keyframes fans {
    0% {
        background-position: 0 bottom;
    }
    100% {
        background-position: -400px bottom;
    }
}


/* 字体颜色Begin */
.font {
    color: #fff;
    text-shadow: 0 0 0.5em #fabbb2, 0 0 0.5em #f87;
}

/* 字体颜色End*/

/* 流光Begin */
.miss {
    animation: liuguang 2s infinite linear;
}

@keyframes liuguang {
    0% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) 0%, rgb(230, 0, 255, 0.6) 100%, rgb(2, 247, 255, 0.6) 200%, rgb(230, 0, 255, 0.6) 300%);
    }

    5% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -10%, rgb(230, 0, 255, 0.6) 90%, rgb(2, 247, 255, 0.6) 190%, rgb(230, 0, 255, 0.6) 290%);
    }

    10% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -20%, rgb(230, 0, 255, 0.6) 80%, rgb(2, 247, 255, 0.6) 180%, rgb(230, 0, 255, 0.6) 280%);
    }

    15% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -30%, rgb(230, 0, 255, 0.6) 70%, rgb(2, 247, 255, 0.6) 170%, rgb(230, 0, 255, 0.6) 270%);
    }

    20% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -40%, rgb(230, 0, 255, 0.6) 60%, rgb(2, 247, 255, 0.6) 160%, rgb(230, 0, 255, 0.6) 260%);
    }

    25% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -50%, rgb(230, 0, 255, 0.6) 50%, rgb(2, 247, 255, 0.6) 150%, rgb(230, 0, 255, 0.6) 250%);
    }

    30% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -60%, rgb(230, 0, 255, 0.6) 40%, rgb(2, 247, 255, 0.6) 140%, rgb(230, 0, 255, 0.6) 240%);
    }

    35% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -70%, rgb(230, 0, 255, 0.6) 30%, rgb(2, 247, 255, 0.6) 130%, rgb(230, 0, 255, 0.6) 230%);
    }

    40% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -80%, rgb(230, 0, 255, 0.6) 20%, rgb(2, 247, 255, 0.6) 120%, rgb(230, 0, 255, 0.6) 220%);
    }

    45% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -90%, rgb(230, 0, 255, 0.6) 10%, rgb(2, 247, 255, 0.6) 110%, rgb(230, 0, 255, 0.6) 210%);
    }

    50% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -100%, rgb(230, 0, 255, 0.6) 0%, rgb(2, 247, 255, 0.6) 100%, rgb(230, 0, 255, 0.6) 200%);
    }


    55% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -110%, rgb(230, 0, 255, 0.6) -10%, rgb(2, 247, 255, 0.6) 90%, rgb(230, 0, 255, 0.6) 190%);
    }

    60% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -120%, rgb(230, 0, 255, 0.6) -20%, rgb(2, 247, 255, 0.6) 80%, rgb(230, 0, 255, 0.6) 180%);
    }

    65% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -130%, rgb(230, 0, 255, 0.6) -30%, rgb(2, 247, 255, 0.6) 70%, rgb(230, 0, 255, 0.6) 170%);
    }

    70% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -140%, rgb(230, 0, 255, 0.6) -40%, rgb(2, 247, 255, 0.6) 60%, rgb(230, 0, 255, 0.6) 160%);
    }

    75% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -150%, rgb(230, 0, 255, 0.6) -50%, rgb(2, 247, 255, 0.6) 50%, rgb(230, 0, 255, 0.6) 150%);
    }

    80% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -160%, rgb(230, 0, 255, 0.6) -60%, rgb(2, 247, 255, 0.6) 40%, rgb(230, 0, 255, 0.6) 140%);
    }

    85% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -170%, rgb(230, 0, 255, 0.6) -70%, rgb(2, 247, 255, 0.6) 30%, rgb(230, 0, 255, 0.6) 130%);
    }

    90% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -180%, rgb(230, 0, 255, 0.6) -80%, rgb(2, 247, 255, 0.6) 20%, rgb(230, 0, 255, 0.6) 120%);
    }

    95% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -190%, rgb(230, 0, 255, 0.6) -90%, rgb(2, 247, 255, 0.6) 10%, rgb(230, 0, 255, 0.6) 110%);
    }

    100% {
        background: linear-gradient(to bottom right, rgb(2, 247, 255, 0.6) -200%, rgb(230, 0, 255, 0.6) -100%, rgb(2, 247, 255, 0.6) 0%, rgb(230, 0, 255, 0.6) 100%);
    }
}

/* 流光边框End */

/* 内容上下滚动 */
@keyframes srollingY {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0px);
    }
}